body{
    font-family: 'Raleway', sans-serif;
    padding: 40px 60px;
    height: 90vh;
}

a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

*{
    box-sizing: border-box;
    overflow-y: scroll hidden;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    margin-left: 10px;
}
    
::-webkit-scrollbar-thumb {
    background: #292828;
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    background: #d0cdcd;
}